h1 {
  padding: 50px;
  text-align: center;
  background: white;
  color: #60cd18;
  font-size: 30px;
}

h2 {
  padding: 30px;
  text-align: center;
  background: white;
  color: #60cd18;
  font-size: 40px;
}

.App {
  border: 5px solid #60cd18;
  max-height: fit-content;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.Recommendations {
  background: #60cd18;
}

.RecommendedProducts {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  text-align: center;
}

label {
  display: block;
  padding: 10px;
  text-align: center;
  background: #60cd18;
  color: black;
  font-size: 30px;
}

select {
  display: block;
  margin: auto;
  // padding: 10px;
  text-align: center;
  background: white;
  color: black;
  font-size: 30px;
}

.NewProduct {
  display: block;
  margin: auto;
  padding: 50px;
}

input {
  text-align: center;
}

.form {
  text-align: center;
  margin-right: 15px;
}
