<html>
  <head></head>
  <body>
    <div class="App">
      <h2>Product Recommendations</h2>
      <div class="Recommendations">
        <label>Select your age range</label>
        <select
          (change)="selectAgeRange($event.target.value)"
          ngModel="ageRange"
        >
          <option value="null" selected="selected"></option>
          <option value="0-17">0-17</option>
          <option value="18-64">18-64</option>
          <option value="65">65+</option>
        </select>
        <label for="student">Are you a student?</label>
        <select
          id="student"
          (change)="selectIsStudent($event.target.value)"
          ngModel="isStudent"
        >
          <option value="null" selected="selected"></option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <label for="income">Select your income range</label>
        <select
          id="income"
          (change)="selectIncomeRange($event.target.value)"
          ngModel="incomeRange"
        >
          <option value="null" selected="selected"></option>
          <option value="0">0</option>
          <option value="1-12000">1-12000</option>
          <option value="12001-40000">12001-40000</option>
          <option value="40001">40001+</option>
        </select>
        <table class="RecommendedProducts">
          <thead>
            <tr>
              <th style="text-align: center">Recommended products</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of products">
            <tr>
              <td>{{ product.name }}</td>
            </tr>
          </tbody>
        </table>
        <div class="NewProduct">
          <label>Add new product</label>
          <form [formGroup]="checkoutForm" (ngSubmit)="postProduct()">
            <div class="form">
              <label for="name">Name:</label>
              <input
                id="name"
                formControlName="name"
                placeholder="Enter product name"
                type="text"
                required
              />
            </div>
            <div class="form">
              <label for="ageMin">Age min:</label>
              <input
                id="ageMin"
                formControlName="ageMin"
                placeholder="Enter age min"
                type="number"
                min="0"
              />
            </div>
            <div class="form">
              <label for="ageMax">Age max:</label>
              <input
                id="ageMax"
                formControlName="ageMax"
                placeholder="Enter age max"
                type="number"
                min="0"
              />
            </div>
            <div class="form">
              <label for="isStudent">Is student?</label>
              <input
                id="isStudent"
                formControlName="isStudent"
                placeholder="isStudent"
                type="checkbox"
              />
            </div>
            <div class="form">
              <label for="incomeMin">Income min:</label>
              <input
                id="incomeMin"
                formControlName="incomeMin"
                placeholder="Enter income min"
                type="number"
              />
            </div>
            <div class="form">
              <label for="incomeMax">Income max:</label>
              <input
                id="incomeMax"
                formControlName="incomeMax"
                placeholder="Enter income max"
                type="number"
              />
            </div>
            <div class="form">
              <button type="submit">submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
